/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
.main, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: inherit;
}
/* HTML5 display-role reset for older browsers */
.main, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* fin reset css */
html
{
	height: 100%;
	width:100%;
	display: flex;
	justify-content:center;
	font-family: open_sansregular, sans-serif;
}
h1
{
	text-transform: uppercase;
	font-size: 38.4px; 
	font-family: open_sanslight, sans-serif;
	text-align: left;
	margin-left: 10%;
	margin-bottom: 8px;
}
header h2
{
	text-align: left;
	font-size: 19.2px;
	color: rgb(74,74,74);
	margin-left: 10%;
	line-height:1.2em;
	margin-bottom: 10%;
	font-family:open_sanssemibold, sans-serif;
}
p
{
	color: rgb(74,74,74);
	font-size: 16px;
	line-height:1.2em;
	font-family:open_sanslight, sans-serif;
}
h3
{
	color: rgb(74,74,74);
	font-size: 12px;
	font-family:open_sanssemibold, sans-serif;
	margin: 0 0 5px 0;
	text-align: left;
	line-height:1.2em;
}
.right h3
{
	font-size: 19.2px;
	text-transform: uppercase;
}

h4
{
	font-size: 18.4px;
	font-family:open_sanslight, sans-serif;
	color: rgb(74,74,74);
	margin: 8px 0 8px 0;
	text-transform: capitalize;	
}
h5
{
	color: rgb(74,74,74);
	font-size: 12px;
	font-family:open_sanssemibold, sans-serif;
	margin: 0 0 5px 0;
	text-align: left;
	line-height:1.2em;
	text-indent:25px;
	text-transform: capitalize;
}

.nom
{
	text-transform: uppercase;
    font-family: 'open_sanssemibold';
    font-size: 14px;
    padding-bottom: 2%;
}
.fonction
{
	font-family: 'open_sanssemibold';
    font-size: 12px;
    margin-bottom: 0;
}
.coord
{
	font-family: 'open_sanssemibold';
    font-size: 12px;
    margin-bottom: 0;
}
.mail
{
	font-family: 'open_sanslight';
    font-size: 12px;
    margin-bottom: 0;
}
.main
{
	text-align: left;
}
mark
{
	color: rgb(128,222,234);
	font-family: open_sanssemibold, sans-serif;
}
.main i
{
	color: rgb(128,222,234);
	margin-right: 12px;
	display: inline-block;
}
aside i
{
	color: rgb(74,74,74);
	font-size: 40px;
	width: 50px;
	height:50px;
	margin: 10px 10px 10px 10px;
	color: rgb(74,74,74);
	border-radius: 50%;
	border:solid;
	padding:6px 3px 0px 3px;
}
aside p
{
	margin: 5% 10% 5% 10%;
	font-family:open_sanslight, sans-serif;
	font-size: 16px;
	line-height: 1em;

}
.text
{
	line-height: 2em;
	font-family:open_sanslight, sans-serif;
}
ul
{
	list-style: inside;
	margin-left: 20%;
}
span, .main h2
{
	border-bottom: solid 2px rgb(128,222,234);
}
#main_wrapper
{
	max-width: 1190px;
	border: 1px solid #ccc;
	display: flex;
	flex-direction:column;
	align-items: stretch;
  	justify-content: space-between;
  	text-align:center;
  	background: rgb(224,247,250);
}
header 
{	
	display: flex;
	flex-direction:row;
  	height: 240px;
}
.bas
{
	display: flex;
	flex-direction:row;
	align-items: stretch;
	justify-content: space-between;
  	text-align:center;
}
#photo, aside
{
	flex:3.268;
	background-color: rgb(128,222,234);
	/*overflow: hidden;*/
}
#titre
{
	padding-top: 80px;
}

header img
{
	border-radius: 50%;
	border: 2px solid rgb(77,208,225);
	margin:20px 10% 20px 10%;
}
aside
{
	display: flex;
	flex-direction:column;
	align-items: stretch;
  	justify-content: space-between;
  	text-align:center;
  	flex-wrap: wrap;
}
aside h2
{
	background-color: rgb(64,64,64);
	color: rgb(128,222,234);
	font-size: 24px;
	font-family: open_sanssemibold, sans-serif;
	text-transform: uppercase;
	padding: 8px 0 8px 0;
}

aside div:nth-child(1)
{
	flex:2.5;
}
aside div:nth-child(2)
{
	flex:6.5;
}
aside div:nth-child(3)
{
	flex:1;
}
.icons
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align:center;
	margin: 5% 5% 5% 5%;
	padding: 0;
}
aside p
{
	text-align:justify;
}
#titre, .main
{
	flex:6.732;
	width: 100%;
	height: 100%;
	/*background-color: green;*/
}
.main h2
{
	padding-bottom: 10px;
	margin: 0 5% 5% 10%;
	overflow-wrap: break-word;
	font-family:open_sanssemibold, sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	color: rgb(74,74,74);
}
.row
{
	display: flex;
	flex-direction:row;
	align-items: stretch;
  	text-align:left;
  	margin-bottom: 5%;
  	margin-left: 10%;
  	flex-wrap: wrap;
 }
 .left
 {
 	flex:2;
 }
.right
{
	flex:8;
	margin-right: 5%;
	margin-left: 5%;
}
.recommandations
{
	flex: 1;
}
@media screen and (max-width: 775px)
{
	header
	{
		flex-direction:column;
		height: 100%;
	}
	h1
	{
		margin: 0 0 8px 10%
	}
	.bas
	{
		flex-direction:column-reverse;
	}
	aside div:nth-child(3)
	{
		order:1;
	}
	aside div:nth-child(4)
	{
		order:1;
	}
	aside div:nth-child(1)
	{
		order:3;	
	}
	aside div:nth-child(1) div
	{
		display: flex;
		align-items: stretch;
  		justify-content:space-around;
  		text-align:center;
		flex-direction:row;
		flex-wrap: wrap;
	}
	aside div:nth-child(1) div
	{
		display: flex;
		flex-wrap: wrap;
		justify-content:start;
		text-align:center;
		margin: 5% 5% 5% 5%;
		padding: 0;
	}
	.recommandations
	{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 400px)
{
	.main h2
	{
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 10%;
		overflow-wrap: break-word;
	}
	.icons
	{
		justify-content: start;
	}
	.row
	{
		flex-direction: column;
	}
	h3, h5
	{
		display: inline-block;
		margin:0 0 8px 0;
	}
	h4
	{
		margin:0 0 8px 0;
	}
	aside p
	{
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: left;
	}
}
@media screen and (max-width: 360px)
{
	.main h2
	{
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 10%;
		overflow-wrap: break-word;
	}
}
